<div style="font-family: monospace;">
  Your package was created succesfully!

  <p><%= link_to "Click here to edit this package", edit_package_url(@package) %></p>

  <h3>To receive the package send any email to: <%= @package.slug %>@pkg.cat</h3>

  ------PACKAGE BELOW THIS LINE-----
  <p><%= @package.author %></p>
  <p><%= @package.bio %></p>

  <% if @package.twitter? %>
    <%= link_to "twitter", "http://twitter.com/#{@package.twitter}" %> | 
  <% end %>

  <% if @package.github? %>
    <%= link_to "github", "http://github.com/#{@package.github}" %> | 
  <% end %>

  <% if @package.blog? %>
    <%= link_to "blog", @package.blog %>
  <% end %>

  <p>PACKAGE DESCRIPTION</p>
  <p><%= @package.description %></p>

  <%= render @links %>
</div>
