<div style="font-family: monospace;font-size: 16px;">
  <p style="background-color: #FBEA74">PACKAGE CREATED SUCCESSFULLY</p>

  <p>To receive the package send any email to: <span style="background-color: #FBEA74"><%= @package.slug %>@pkg.cat</span></p>

  <p><%= link_to "Click here to edit this package", edit_package_url(@package) %></p>

  ------PACKAGE BELOW THIS LINE-----
  <div style="font-family: monospace;font-size: 16px;">
    <div>
      <p style="background-color: #E0E0E0;">WHO AM I?</p>
      <p><%= @package.author %></p>
      <p><%= @package.bio %></p>

      <% if @package.twitter? %>
        <%= link_to "twitter", "http://twitter.com/#{@package.twitter}" %>
      <% end %>

      <% if @package.github? %>
        | <%= link_to "github", "http://github.com/#{@package.github}" %>
      <% end %>

      <% if @package.blog? %>
        | <%= link_to "blog", @package.blog %>
      <% end %>
    </div>

    <p style="background-color: #E0E0E0;">WHAT IS THIS?</p>
    <p><%= @package.description %></p>

    <%= render @links %>
  </div>
</div>
