<div style="font-family: monospace;font-size: 16px;">
  <% if @email.body.present?  %>
    <div>
    <p style="background-color: #E0E0E0;">YOUR NOTES:</p>
    <p><%= @email.body %></p>
    </div>
  <% end %>

  <div>
    <p style="background-color: #E0E0E0;">WHO AM I?</p>
    <p><%= @package.author %></p>
    <p><%= @package.bio %></p>

    <% if @package.twitter? %>
      <%= link_to "twitter", "http://twitter.com/#{@package.twitter}" %>
    <% end %>

    <% if @package.github? %>
      | <%= link_to "github", "http://github.com/#{@package.github}" %>
    <% end %>

    <% if @package.blog? %>
      | <%= link_to "blog", @package.blog %>
    <% end %>
  </div>

  <p style="background-color: #E0E0E0;">WHAT IS THIS?</p>
  <p><%= @package.description %></p>

  <%= render @links %>
</div>
