<p class="question">YOUR NAME</p>
<p>context in which you exist</p>

<%= link_to "twitter", "http://twitter.com" %> | 
<%= link_to "github", "http://github.com" %> | 
<%= link_to "blog", "http://your-blog.com" %> | 

<p class="question">PACKAGE DESCRIPTION</p>
<p>context in which this package exists</p>


<%= link_to "LINK 1 NAME", "#" %>
<%= link_to "LINK 2 NAME", "#" %>
