<!DOCTYPE html>
<html>
<head>
  <title>PKG.CAT</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '' %>
</head>
<body>
  <div class="container">
    <div id="heading">
      <p>PKG.CAT</p>
    </div>

    <% if flash.any? %>
      <div id="flash">
        <% flash.each do |key, value| -%>
          <div id="flash_<%= key %>"><%= value %></div>
        <% end -%>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
